.card-img-top {
    height: 50%;
    object-fit: contain;
}

.card-img-container {
    height: 200px;
    /* altura fija para la imagen */
    overflow: hidden;
    /* para recortar la imagen si es necesario */
}

.card-img-container img {
    height: 100%;
    /* para ajustar la imagen a la altura del contenedor */
    object-fit: contain;
    /* para recortar la imagen si es necesario */
}

.card {
    max-height: 500px;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.description {
    min-height: 6em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-align: justify;
    text-justify: inter-word;
}

.description:only-child {
    text-align: left;
}

.card-footer {
    padding: 0;
}

.quantity-container {
    max-width: 100%;
}

.quantity {
    text-align: center;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

/* .card-footer .btn {
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
} */

button.btn-secondary {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
