<p>
    <a routerLink="/admin/products/new" class="btn btn-primary">Producto nuevo</a>
</p>

<p>
    <input type="text" class="form-control" placeholder="Buscar producto por nombre..." #query (keyup)="filter(query.value)">
</p>

<table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of filteredProducts | paginate: { itemsPerPage: 10, currentPage: p }">
            <td>{{ product.title }}</td>
            <td>{{ product.price | currency:'COP':'symbol-narrow':'1.0' }}</td>
            
            <td>
                <a [routerLink]="['/admin/products/', product.key]">Editar</a>
            </td>
        </tr>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>