<div class="container d-flex flex-column flex-md-row">
    <nav class="navbar navbar-expand-md navbar-ligth d-flex flex-md-column">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCategories"
            aria-controls="navbarCategories" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse w-100" id="navbarCategories">
            <ul class="navbar-nav w-100 d-flex flex-md-column text-center text-md-end align-items-start">
                <li class="nav-item">
                    <a [class.active]="this.category === ''" routerLink="/" class="nav-link" aria-current="page">Todos los productos</a>
                </li>
                <li *ngFor="let category of categories$ | async" class="nav-item">
                    <a routerLinkActive="active" routerLink="/" [queryParams]="{category: category.key}" class="nav-link" aria-current="page">{{ category.payload.val().name }}</a>
                </li>
            </ul>
        </div>
    </nav>
    <main class="ps-0 ps-md-5 flex-grow-1">
        <div class="container text-center">
            <div class="row g-2 align-items-stretch d-flex">
                <ng-container *ngFor="let product of filteredProducts">
                    <div class="col-6 col-md-4">
                        <div class="card h-100">
                            <div class="card-img-container">
                                <img [src]="product.imageUrl" class="card-img-top" alt="..." *ngIf="imageLoaded">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ product.title }}</h5>
                                <h6 class="card-text">{{ product.price | currency:'COP':'symbol-narrow':'1.0' }}</h6>
                                <p class="card-text description">{{ product.description }}</p>
                                <a href="#" class="btn btn-primary">Agregar a Carrito</a>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </main>
</div>