.col-6,
.col-md-4 {
    /* Elimina la altura fija */
    height: auto;
}

.row {
    /* Aplica una altura fija al contenedor de las tarjetas */
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}